body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(169, 169, 169, 0.389);
}

.button {
  border: none;
  background-color: transparent;
  padding: 1em;
  margin: .2em;
}

.buttonNew {
  color: #fff;
  background-color: #1e6594;
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
}

.tweetContainer {
  width: 30vw;
  margin: 0.5em;
}

.mainContainer {
  padding: 0.3em;
}

.mainContainer:hover {
  background-color: #1D9BF0;
  border-radius: 0.3em;
}

.countContainer {
  padding: 0.3em 0;
}

#tweets {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  box-sizing: border-box;
  height: 15vh;
  max-height: 15vh;
  min-height: 15vh;
  padding: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  border: solid 1px #1e6594;
}